/* 
font styles
p = font-family: 'Chivo', sans-serif;
h1 - h3 = font-family: 'Hind Siliguri', sans-serif;
h2 = font-family: 'Mada', sans-serif; 

color panel
eerie black :#1C1E21
timberwolf:#DED7CF
middle yellow:#FFED26
dark cornflower blue:#3D4599

*/

/* variables colors & fonts  */
:root {
  --main-color: #ffed26;
  --secondary-color: #3d4599;
  --light-color: #ded7cf;
  --dark-color: #1c1e21;
  --h1-h3-font: "Hind Siliguri", sans-serif;
  --p-font: "Chivo", sans-serif;
  --h2-font: "Mada", sans-serif;
}
/* >>>>>>>>>>   FOOTER SECTION   <<<<<<<<<<  */
.footer-section {
  background: var(--secondary-color);
  color: var(--light-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.fullname-footer {
  font-style: italic;
}
