/* 
font styles
p = font-family: 'Chivo', sans-serif;
h1 - h3 = font-family: 'Hind Siliguri', sans-serif;
h2 = font-family: 'Mada', sans-serif; 

color panel
eerie black :#1C1E21
timberwolf:#DED7CF
middle yellow:#FFED26
dark cornflower blue:#3D4599

*/
:root {
  --main-color: #ffed26;
  --secondary-color: #3d4599;
  --light-color: #ded7cf;
  --dark-color: #1c1e21;
  --h1-h3-font: "Hind Siliguri", sans-serif;
  --p-font: "Chivo", sans-serif;
  --h2-font: "Mada", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--p-font);
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}
.nav-list {
  display: flex;
  margin: 1.2rem 0;
  list-style: none;
}
#navbar ul li a {
  padding-right: 1.5rem;
  text-decoration: none;
  color: var(--dark-color);
}
#navbar ul li a:hover {
  font-weight: bold;
}
#navbar ul li a:active {
  color: var(--secondary-color);
  font-weight: bold;
}
