/* 
font styles
p = font-family: 'Chivo', sans-serif;
h1 - h3 = font-family: 'Hind Siliguri', sans-serif;
h2 = font-family: 'Mada', sans-serif; 

color panel
eerie black :#1C1E21
timberwolf:#DED7CF
middle yellow:#FFED26
dark cornflower blue:#3D4599

*/

/* variables colors & fonts  */
:root {
  --main-color: #ffed26;
  --secondary-color: #3d4599;
  --light-color: #ded7cf;
  --dark-color: #1c1e21;
  --h1-h3-font: "Hind Siliguri", sans-serif;
  --p-font: "Chivo", sans-serif;
  --h2-font: "Mada", sans-serif;
}

/* global formating of section  */
.projects-section {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--light-color);
}
/* title formating & positioning  */
.projects-section h2 {
  font-family: var(--h2-font);
  font-size: 2.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2% 0 0 0;
}
/* project grid formating & positioning */
.project-grid {
  display: grid;
  margin: 2% 5%;
  grid-template-columns: 50% 50%;
  column-gap: 3rem;
  row-gap: 3rem;
}
@media only screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
/* project tiles grid formating & positioning */
.project-tile {
  background: var(--dark-color);
  color: var(--light-color);
  box-shadow: 0 1px 5px #1c1e217e;
  text-decoration: none;
  padding-bottom: 5px;
}
.project-image {
  width: 100%;
}

/* show more formating & positioning  */
.show-more-btn {
  background-color: var(--dark-color);
  padding: 10px;
  border: solid var(--dark-color);
  box-shadow: 0 1px 5px #1c1e217e;
  margin: 2% 0 2% 0;
}
.show-more {
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
}
.projects-section a:hover {
  color: rgba(222, 215, 207, 0.8);
}
.projects-section a:active {
  color: var(--main-color);
}
