/* color code: white FFFFFC/ blue A0C4FF/pink: FFC6FF/
purple:BDB2FF/green:CAFFBF/dark grey 464946*/
/*font-family: 'Montserrat', sans-serif;
font-family: 'Zen Kurenaido', sans-serif; */

/* structure inspiration
https://jblanche.fr/#portfolio */

/* properties of the entire page */
.entirePageContenant {
  font-family: "Montserrat", sans-serif;
  color: #464946;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  margin: 10px 350px;
}

/*>>>GENERAL PROPERTIES */

/* menu defined horizontally & spreads evenly*/
li {
  display: inline;
  padding: 30px;
}
